
<div class="all">
<div class="area_content_box">
                
                <div class="area_my_cookie">쿠키 <span>2</span>개 결제</div>
                
                <div class="area_buy"><strong class="this_text_work">참교육</strong> 57화를 구매합니다. </div>

                

                
            </div>
	
<button type="button" class="area_button _continueUseTicket(COMIC,6820896,450115,23,LEND,PASS,)">
	<a href="/buy/content">
                    <span class="area_button_inner">
						
                        <strong class="this_text_title">결제</strong>
                        <span class="this_text_content">쿠키 <span>2</span>개</span>

                    </span></a>
                    </button>
	<a href="/list">
<button type="button" class="area_button1 _continueUseTicket(COMIC,6820896,450115,23,BUY,PASS,)">
                    <span class="area_button_inner">
						<strong class="this_text_title">취소</strong></span></a>
                      
       
                    </button
	</span>
	</span>
	</button>
</div>