.area_content_box{
  margin:0 auto;
  width: 400px;
  height: 70px;
  background: #19ce60;
  padding: 25px 20px 24px 20px;
  
}
.area_button {
    width: 220px;
    height: 67px;
    border: 1px solid grey;
    background-color: black;
    color: #fff;
    letter-spacing: 0;
    vertical-align: top;
    cursor: pointer;
}

.area_button1 {
    margin-left:-6px;
    width: 220px;
    height: 67px;
    border: 1px solid grey;
    background-color: black;
    color: #fff;
    letter-spacing: 0;
    vertical-align: top;
    cursor: pointer;
}

.area_my_cookie{
  text-align: center;
}

.area_buy{
  padding-top: 20px;
  text-align: center;
}

.all{
	margin-top: 300px;
}
