<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

		<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
		<title>책갈피 :: 네이버 웹툰</title>

		<meta property="og:title" content="네이버 웹툰 : MY페이지" />
		<meta
			property="og:image"
			content="https://ssl.pstatic.net/static/comic/images/og_tag_v2.png"
		/>
		<meta property="og:description" content="매일매일 새로운 재미, 네이버 웹툰." />

		<meta property="og:url" content="https://comic.naver.com/mypage/bookmark" />
		<meta property="og:type" content="article" />
		<meta property="og:article:author" content="네이버 웹툰" />
		<meta property="og:article:author:url" content="https://comic.naver.com" />

		<link
			rel="shortcut icon"
			href="https://ssl.pstatic.net/static/comic/favicon/webtoon_favicon_32x32.ico"
			type="image/x-icon"
		/>

		<script type="text/javascript">
			document.domain = 'naver.com';
		</script>
		<meta http-equiv="Expires" content="Mon, 06 Jan 1990 00:00:01 GMT" />
		<meta http-equiv="Expires" content="-1" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Cache-Control" content="no-cache" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

		<link rel="stylesheet" type="text/css" href="/css/comic/comic_20211129181349.css" />

		<!-- comicLMyJsFile -->
		<script
			type="text/javascript"
			src="/aggregate/javascript/release/comic_my_20211129181349.js"
			charset="utf-8"
		></script>

		<script type="text/javascript">
			var g_ssc = 'comic.mypage';
		</script>

		<script
			type="text/javascript"
			src="/aggregate/javascript/release/comic_gnb_20211129181349.js"
		></script>
	</head>

	<body onload="">
		<div id="wrap" class="end_page">
			<div id="u_skip">
				<a
					href="#menu"
					onclick="document.getElementById('menu').tabIndex=-1;document.getElementById('menu').focus();return false;"
					><span>메인 메뉴로 바로가기</span></a
				>
				<a
					href="#content"
					onclick="document.getElementById('content').tabIndex=-1;document.getElementById('content').focus();return false;"
					><span>본문으로 바로가기</span></a
				>
			</div>

			<div id="header_wrap">
				<div id="header">
					<div id="gnb">
						<script type="text/javascript">
							var gnb_option = {
								gnb_service: 'comic',
								gnb_logout: encodeURIComponent(window.location.href),
								gnb_login: encodeURIComponent(window.location.href),
								gnb_template: 'gnb_utf8',
								gnb_brightness: 1,
								gnb_item_hide_option: 0,
							};
						</script>
						<script
							type="text/javascript"
							charset="utf-8"
							src="https://ssl.pstatic.net/static.gn/templates/gnb_utf8?20211129181349"
						></script>
					</div>
					<div id="snb_wrap">
						<h1>
							<a
								onclick="nclk_v2(event,'STA.naverlogo')"
								href="https://www.naver.com"
								title="NAVER"
								class="Ntxt_naver"
								>NAVER</a
							>
							<a
								onclick="nclk_v2(event,'STA.comic')"
								href="/naverwebtoon"
								title="만화"
								class="Ntxt_comic"
								>만화</a
							>
							<em class="bar">|</em>
							<a
								onclick="nclk_v2(event,'STA.novel')"
								href="https://novel.naver.com"
								title="웹소설"
								class="Ntxt_novel"
								>웹소설</a
							>
						</h1>

						<form id="searchForm" name="search" method="get" action="/search">
							<fieldset>
								<legend>검색</legend>
								<div class="snb_search_box">
									<div class="snb_search_box_sub">
										<!-- [D] 클릭시 label.ph 텍스트 삭제해주세요. -->
										<label class="ph" for="gnb.keyword"
											>제목/작가로 검색할 수 있습니다.</label
										>
										<input
											type="text"
											id="gnb.keyword"
											name="keyword"
											value=""
											title="검색어 입력"
											maxlength="18"
											class="snb_search_text"
										/>
										<button
											type="button"
											class="btn_search"
											id="search_bar_button"
											onclick="nclk_v2(event,'STA.search')"
											title="검색"
											alt="검색"
										>
											<span class="Nico_search">검색</span>
										</button>
									</div>
								</div>
							</fieldset>
						</form>
					</div>

					<div id="author_layer" style="text-align: left; display: none;">
						<ul id="author_layer_inner">
							&nbsp;
						</ul>
					</div>

					<div class="notice_info">
						<span class="blind">공지사항</span>
						<div class="rolling">
							<div class="notice_rolling">
								<li>
									<a
										onclick="nclk_v2(event,'STA.txt')"
										href="https://comic.naver.com/webtoon/list.nhn?titleId=784507"
										title="진짜 나의 삶을 찾는 여정 &lt;푸쉬오프&gt;"
									>
										<span class="Nico_notice"></span>
										진짜 나의 삶을 찾는 여정 &lt;푸쉬오프&gt;
									</a>
								</li>
							</div>
						</div>
					</div>
				</div>
				<div id="menu">
					<ul class="menu">
						<!-- [D] 선택된 li에 current 클래스 추가 -->
						<li>
							<a onclick="nclk_v2(event,'LNB.home');" href="/index"
								><span class="Ntxt_home">웹툰 홈</span></a
							>
						</li>
						<li>
							<a onclick="nclk_v2(event,'LNB.toon');" href="/naverwebtoon"
								><span class="Ntxt_webtoon">웹툰</span></a
							>
						</li>

						<li class="current">
							<a onclick="nclk_v2(event,'LNB.my');" href="/mypage/favorite"
								><span class="Ntxt_mypage">마이페이지</span></a
							><span class="bar"></span>
						</li>
					</ul>
					<h2 class="blind">마이페이지</h2>
				</div>
				<!-- //상단 메뉴 /mypage/bookmark-->
			</div>
			<!-- 상단 영역(메인에만 나감.) -->

			<!-- //상단 영역 -->

			<div id="container" class="">
				<div id="content" class="">
					<script type="text/javascript">
						// nclick
						var g_ssc = 'comic.mypage';
						var ccsrv = 'cc.naver.com';
					</script>
					<div class="snb">
						<!-- [D] 선택된 li에 on 클래스 추가 -->
						<ul class="my">
							<li>
								<a href="/mypage" onclick="nclk_v2(event,'tab.interest')"
									>작성한 댓글</a
								>
							</li>
							<li class="on">
								<a href="/mypage/gym" onclick="nclk_v2(event,'tab.bookmark')"
									>찜한 웹툰</a
								>
							</li>
							<li>
								<a href="/mypage/cookie" onclick="nclk_v2(event,'tab.mywork')"
									>보유 쿠키</a
								>
							</li>
						</ul>
						<h3 class="blind">책갈피</h3>
					</div>

					<!-- body -->
					<div class="my_area">
						<!-- 나의 책갈피 -->
						<div class="section">
							<div class="ifr">
								<h3 class="sub_tit">찜한 웹툰</h3>
								<!-- [D] 활성화시 'on' 추가해주세요 -->

								<div class="tbl_wrap">
									<table class="tbl_type">
										<caption>
											<span class="blind">나의 책갈피 리스트</span>
										</caption>
										<colgroup>
											<col width="47" />
											<col width="358" />
											<col width="41" />
											<col width="85" />
											<col width="74" />
											<col width="46" />
										</colgroup>
										<thead>
											<tr>
												<th scope="col"><span>번호</span></th>
												<th scope="col"><span>제목</span></th>
												
												<th scope="col"><span>작가</span></th>
												<th scope="col"><span>찜한 날짜</span></th>
												<th scope="col"><span>선택</span></th>
											</tr>
										</thead>
										<tbody>
											<% @posts.each do |post| %>
											<tr>
												<td><%= post.id %></td>
												&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<td><%= post.title %></td>
												<td><%= post.writer %></td>
												<td><%= post.updated_at %></td>
												<td class="tit">
													<a
														href="/webtoon/list?titleId=758037"
														target="_top"
													>
														
													</a>
												</td>
												<td class="wrtr">
													<span>
														<a
															href="#"
															onclick="nclk_v2(event,'iwr.writer','758037','1');return artistAction.viewArtist('758037', this);"
														>
															
														</a>
												
											<% end %>
										</tbody>
									</table>
									<div class="btn_area">
										<a
											id="deleteBookmark"
											href="#"
											onclick="nclk_v2(event,'mbk_fre.del')"
										>
											<img
												src="https://ssl.pstatic.net/static/comic/charge/btn_del.gif"
												width="51"
												height="22"
												alt="삭제"
											/>
										</a>
									</div>
									<div class="paginate">
										<div class="page_wrap">
											<strong class="blind">페이지 이동하기</strong>

											<strong class="page"
												><em class="num_page">1</em
												><span class="blind"> 현재 페이지</span></strong
											>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<script type="application/javascript">
						jQuery('#deleteBookmark').click(function () {
							var checkedCount = 0;
							var idnoinfos = jQuery('._titleNoInfos');
							var titleNoInfos = [];

							for (var i = 0; i < idnoinfos.length; i++) {
								if (idnoinfos[i].checked) {
									checkedCount = checkedCount + 1;
									titleNoInfos.push(idnoinfos[i].value);
								}
							}

							if (checkedCount == 0) {
								alert('삭제할 작품을 선택해 주세요');
								return false;
							}

							jQuery.ajaxSettings.traditional = true;

							jQuery.ajax({
								method: 'POST',
								url: '/mypage/bookmarkDelete',
								async: false,
								timeout: 3000,
								data: { titleNoInfos: titleNoInfos },
								success: function (result) {
									var jsonResult = JSON.parse(result);
									if (jsonResult.status == 'success') {
										alert('삭제 되었습니다.');
										location.reload(true);
									} else {
										alert('요청이 정상적으로 처리되지 않았습니다.');
									}
								},
								error: function () {
									alert('요청이 정상적으로 처리되지 않았습니다.');
								},
							});
						});
					</script>
				</div>
				<!-- side menu -->

				<div id="aside">
					<div class="asideButton upload">
						<a
							href="/mypage/myActivity"
							class="Nbtn_upload"
							onclick="nclk_v2(event,'olk.upload');"
							>웹툰 올리기</a
						>
					</div>

					<!-- 배너 -->

					<div id="addiv" name="addiv" data-veta-preview="p_wtoon_end" class="asideAd">
						<iframe
							id="f240240"
							name="f240240"
							src="https://veta.naver.com/fxshow?su=SU10321"
							width="240"
							height="240"
							border="0"
							frameborder="0"
							scrolling="no"
							marginheight="0"
							marginwidth="0"
							align="center"
							title="광고영역"
						></iframe>
					</div>

					<!-- //배너 -->

					<!-- 롤링이미지 -->

					<div class="asideRolling">
						<a
							onclick="nclk_v2(event,'olk.banner')"
							href="https://comic.naver.com/webtoon/list.nhn?titleId=784129"
						>
							<img
								src="https://naverwebtoon-phinf.pstatic.net/20211108_176/1636339306304Vgmov_JPEG/upload_1324494491805734440.JPEG?type=p100"
								width="240"
								height="97"
								alt="그 여름의 기록 &lt;그 해 우리는 - 초여름이 좋아!&gt;"
							/>
						</a>
					</div>

					<!-- 인기급상승웹툰 -->
					<div class="asideBox">
						<h4 class="asideBoxTitle">
							<img
								src="https://ssl.pstatic.net/static/comic/images/migration/common/subtlt_r_best_v2.gif"
								title="인기급상승웹툰"
								alt="인기급상승웹툰"
								width="78"
								height="11"
							/>
						</h4>
						<div>
							<ul class="asideBoxTab">
								<!-- 선택된 메뉴에는 choice라는 클래스명을 사용합니다 -->
								<li id="realTimeRankChoiceTabFavorite" class="choice">
									<a
										id="realTimeRankChoiceTabFavoriteClick"
										onclick="nclk_v2(event,'rnk.rep')"
										href="#"
										><img
											src="https://ssl.pstatic.net/static/comic/images/migration/common/tab_txt_favor.gif"
											title="인기순"
											alt="인기순"
											width="31"
											height="12"
									/></a>
								</li>
								<li id="realTimeRankChoiceTabUpdate">
									<a
										id="realTimeRankChoiceTabUpdateClick"
										onclick="nclk_v2(event,'rnk.upd')"
										href="#"
										><img
											src="https://ssl.pstatic.net/static/comic/images/migration/common/tab_txt_update.gif"
											title="업데이트순"
											alt="업데이트순"
											width="52"
											height="12"
									/></a>
								</li>
							</ul>
							<h3 id="realTimeRankBlindName" class="blind">인기순</h3>
							<ol id="realTimeRankFavorite" class="asideBoxRank">
								<li class="rank01">
									<a
										onclick="nclk_v2(event,'rnk*p.cont','783051','1')"
										href="/webtoon/detail?titleId=783051&no=5"
										title="존망코인-5화 개미 떼"
										>존망코인-5화 개미 떼</a
									>

									<span class="rankBox">
										<img
											src="https://ssl.pstatic.net/static/comic/images/migration/common/arrow_no.gif"
											title="변동없음"
											alt="변동없음"
											width="7"
											height="10"
										/>
										0
									</span>
								</li>

								<li class="rank02">
									<a
										onclick="nclk_v2(event,'rnk*p.cont','784129','2')"
										href="/webtoon/detail?titleId=784129&no=5"
										title="그 해 우리는 - 초여름이 좋아!-5화"
										>그 해 우리는 - 초여름이 좋아!-5화</a
									>

									<span class="rankBox">
										<img
											src="https://ssl.pstatic.net/static/comic/images/migration/common/arrow_no.gif"
											title="변동없음"
											alt="변동없음"
											width="7"
											height="10"
										/>
										0
									</span>
								</li>

								<li class="rank03">
									<a
										onclick="nclk_v2(event,'rnk*p.cont','785251','3')"
										href="/webtoon/detail?titleId=785251&no=3"
										title="시월드가 내게 집착한다-2화"
										>시월드가 내게 집착한다-2화</a
									>

									<span class="rankBox">
										<img
											src="https://ssl.pstatic.net/static/comic/images/migration/common/arrow_no.gif"
											title="변동없음"
											alt="변동없음"
											width="7"
											height="10"
										/>
										0
									</span>
								</li>

								<li class="rank04">
									<a
										onclick="nclk_v2(event,'rnk*p.cont','774862','4')"
										href="/webtoon/detail?titleId=774862&no=41"
										title="조조코믹스-오답노트 1화. 정답:좋아하는 사람이 있어서"
										>조조코믹스-오답노트 1화. 정답:좋아하는 사람이 있어서</a
									>

									<span class="rankBox">
										<img
											src="https://ssl.pstatic.net/static/comic/images/migration/common/arrow_no.gif"
											title="변동없음"
											alt="변동없음"
											width="7"
											height="10"
										/>
										0
									</span>
								</li>

								<li class="rank05">
									<a
										onclick="nclk_v2(event,'rnk*p.cont','597447','5')"
										href="/webtoon/detail?titleId=597447&no=419"
										title="프리드로우-제416화 파이트 클럽 이후 (3)"
										>프리드로우-제416화 파이트 클럽 이후 (3)</a
									>

									<span class="rankBox">
										<img
											src="https://ssl.pstatic.net/static/comic/images/migration/common/arrow_no.gif"
											title="변동없음"
											alt="변동없음"
											width="7"
											height="10"
										/>
										0
									</span>
								</li>

								<li class="rank06">
									<a
										onclick="nclk_v2(event,'rnk*p.cont','780506','6')"
										href="/webtoon/detail?titleId=780506&no=43"
										title="2021 최애캐 안녕, 잘 지내니?-43화. &lt;신과함께&gt; 저승 근황"
										>2021 최애캐 안녕, 잘 지내니?-43화. &lt;신과함께&gt; 저승
										근황</a
									>

									<span class="rankBox">
										<img
											src="https://ssl.pstatic.net/static/comic/images/migration/common/arrow_no.gif"
											title="변동없음"
											alt="변동없음"
											width="7"
											height="10"
										/>
										0
									</span>
								</li>

								<li class="rank07">
									<a
										onclick="nclk_v2(event,'rnk*p.cont','727188','7')"
										href="/webtoon/detail?titleId=727188&no=137"
										title="취사병 전설이 되다-137화 : 구제역이 발생하였습니다."
										>취사병 전설이 되다-137화 : 구제역이 발생하였습니다.</a
									>

									<span class="rankBox">
										<img
											src="https://ssl.pstatic.net/static/comic/images/migration/common/arrow_no.gif"
											title="변동없음"
											alt="변동없음"
											width="7"
											height="10"
										/>
										0
									</span>
								</li>

								<li class="rank08">
									<a
										onclick="nclk_v2(event,'rnk*p.cont','775723','8')"
										href="/webtoon/detail?titleId=775723&no=22"
										title="스퍼맨 : 전하지 못한 이야기-22화"
										>스퍼맨 : 전하지 못한 이야기-22화</a
									>

									<span class="rankBox">
										<img
											src="https://ssl.pstatic.net/static/comic/images/migration/common/arrow_up.gif"
											title="순위상승"
											alt="순위상승"
											width="7"
											height="10"
										/>2
									</span>
								</li>

								<li class="rank09">
									<a
										onclick="nclk_v2(event,'rnk*p.cont','784255','9')"
										href="/webtoon/detail?titleId=784255&no=10"
										title="먹는 인생-9화 닭발 볶음밥"
										>먹는 인생-9화 닭발 볶음밥</a
									>

									<span class="rankBox">
										<img
											src="https://ssl.pstatic.net/static/comic/images/migration/common/arrow_no.gif"
											title="변동없음"
											alt="변동없음"
											width="7"
											height="10"
										/>
										0
									</span>
								</li>

								<li class="rank10">
									<a
										onclick="nclk_v2(event,'rnk*p.cont','783865','10')"
										href="/webtoon/detail?titleId=783865&no=4"
										title="돌&amp;아이-4화: 축하파티의 진실"
										>돌&amp;아이-4화: 축하파티의 진실</a
									>

									<span class="rankBox">
										<img
											src="https://ssl.pstatic.net/static/comic/images/migration/common/arrow_down.gif"
											title="순위하락"
											alt="순위하락"
											width="7"
											height="10"
										/>2
									</span>
								</li>
							</ol>
							<ol id="realTimeRankUpdate" class="asideBoxRank" style="display: none;">
								<li class="rank01">
									<a
										onclick="nclk_v2(event,'rnk*u.cont','784140','1')"
										href="/webtoon/detail?titleId=784140&no=6"
										title="후궁 스캔들-6화"
									>
										후궁 스캔들-6화
									</a>
									<span class="timeBox">
										17분전
									</span>
								</li>

								<li class="rank02">
									<a
										onclick="nclk_v2(event,'rnk*u.cont','784129','2')"
										href="/webtoon/detail?titleId=784129&no=5"
										title="그 해 우리는 - 초여름이 좋아!-5화"
									>
										그 해 우리는 - 초여름이 좋아!-5화
									</a>
									<span class="timeBox">
										17분전
									</span>
								</li>

								<li class="rank03">
									<a
										onclick="nclk_v2(event,'rnk*u.cont','783051','3')"
										href="/webtoon/detail?titleId=783051&no=5"
										title="존망코인-5화 개미 떼"
									>
										존망코인-5화 개미 떼
									</a>
									<span class="timeBox">
										17분전
									</span>
								</li>

								<li class="rank04">
									<a
										onclick="nclk_v2(event,'rnk*u.cont','783865','4')"
										href="/webtoon/detail?titleId=783865&no=4"
										title="돌&amp;아이-4화: 축하파티의 진실"
									>
										돌&amp;아이-4화: 축하파티의 진실
									</a>
									<span class="timeBox">
										17분전
									</span>
								</li>

								<li class="rank05">
									<a
										onclick="nclk_v2(event,'rnk*u.cont','785251','5')"
										href="/webtoon/detail?titleId=785251&no=3"
										title="시월드가 내게 집착한다-2화"
									>
										시월드가 내게 집착한다-2화
									</a>
									<span class="timeBox">
										17분전
									</span>
								</li>

								<li class="rank06">
									<a
										onclick="nclk_v2(event,'rnk*u.cont','758619','6')"
										href="/webtoon/detail?titleId=758619&no=57"
										title="힙한남자-휴재 공지"
									>
										힙한남자-휴재 공지
									</a>
									<span class="timeBox">
										23시간전
									</span>
								</li>

								<li class="rank07">
									<a
										onclick="nclk_v2(event,'rnk*u.cont','762236','7')"
										href="/webtoon/detail?titleId=762236&no=49"
										title="군주-49화"
									>
										군주-49화
									</a>
									<span class="timeBox">
										23시간전
									</span>
								</li>

								<li class="rank08">
									<a
										onclick="nclk_v2(event,'rnk*u.cont','616239','8')"
										href="/webtoon/detail?titleId=616239&no=785"
										title="윌유메리미-시즌2 523화 기차에서 싸워 2/2"
									>
										윌유메리미-시즌2 523화 기차에서 싸워 2/2
									</a>
									<span class="timeBox">
										23시간전
									</span>
								</li>

								<li class="rank09">
									<a
										onclick="nclk_v2(event,'rnk*u.cont','703839','9')"
										href="/webtoon/detail?titleId=703839&no=167"
										title="홍시는 날 좋아해!-167화 : 말리지 마. 말리면 안돼"
									>
										홍시는 날 좋아해!-167화 : 말리지 마. 말리면 안돼
									</a>
									<span class="timeBox">
										23시간전
									</span>
								</li>

								<li class="rank10">
									<a
										onclick="nclk_v2(event,'rnk*u.cont','724815','10')"
										href="/webtoon/detail?titleId=724815&no=124"
										title="아홉수 우리들-122. 스물 넷, 안 준"
									>
										아홉수 우리들-122. 스물 넷, 안 준
									</a>
									<span class="timeBox">
										23시간전
									</span>
								</li>
							</ol>
						</div>
					</div>
					<!-- //인기급상승웹툰 -->

					<!-- 추천 웹툰 -->
					<div class="asideBox">
						<!-- [D] 10대: h_10_v2.gif, 20대: h_20_v2.gif -->
						<h4 class="asideBoxTitle">
							<img
								id="recommand_ageImg"
								src="https://ssl.pstatic.net/static/comic/images/migration/common/h_30_v2.gif"
								width="107"
								height="11"
								alt="30대 인기웹툰"
							/>
							<div class="tab_nv">
								<a id="recommandWebtoonRankLeftTabClick" href="#" class="Nico_prv"
									>이전</a
								><a id="recommandWebtoonRankRightTabClick" href="#" class="Nico_nxt"
									>다음</a
								>
							</div>
						</h4>
						<div>
							<ul class="asideBoxTab">
								<li id="recommandWebtoonRankMTabOver" class="choice">
									<a href="#" onclick="return false;">
										<img
											src="https://ssl.pstatic.net/static/comic/images/migration/common/tab_txt_m.png"
											width="21"
											height="11"
											alt="남자"
											title="남자"
									/></a>
								</li>
								<li id="recommandWebtoonRankWTabOver">
									<a href="#" onclick="return false;">
										<img
											src="https://ssl.pstatic.net/static/comic/images/migration/common/tab_txt_w.png"
											width="21"
											height="11"
											alt="여자"
											title="여자"
									/></a>
								</li>
							</ul>
							<h3 id="ageGenderRankBlindName" class="blind">남자</h3>
							<ol id="recommandWebtoonRank" class="asideBoxRank asideBoxRank2">
								<li id="recommandLi_0" class="rank01">
									<div class="thumb6">
										<a
											id="recommand_link_0"
											href="/webtoon/detail?titleId=783051&no=5"
											title="존망코인"
										>
											<img
												onerror="this.src='https://ssl.pstatic.net/static/comic/images/migration/common/blank.gif'"
												id="recommand_thumbnail_0"
												src="https://shared-comic.pstatic.net/thumb/webtoon/783051/thumbnail/thumbnail_IMAG10_34db32ca-fda8-41ee-8886-43ba124fa0f9.jpg"
												width="30"
												height="33"
												alt="존망코인"
											/>
											<span class="mask"></span>
										</a>
									</div>
									<div class="rc_info">
										<a
											id="recommand_titleName_0"
											href="/webtoon/detail?titleId=783051&no=5"
											class="tit"
											title="존망코인"
											>존망코인</a
										>
										<em
											><a
												id="recommand_painter_0"
												href="#"
												onclick="return artistAction.viewArtist('783051', this);"
												title="박태준 만화회사"
												>박태준 만화회사</a
											></em
										>
										<span class="rankBox2">
											<img
												id="recommand_img_0"
												src="https://ssl.pstatic.net/static/comic/images/migration/common/arrow_no.gif"
												title="변동없음"
												alt="변동없음"
											/><em id="recommand_rank_0">0</em>
										</span>
									</div>
								</li>

								<li id="recommandLi_1" class="rank02">
									<div class="thumb6">
										<a
											id="recommand_link_1"
											href="/webtoon/detail?titleId=727188&no=137"
											title="취사병 전설이 되다"
										>
											<img
												onerror="this.src='https://ssl.pstatic.net/static/comic/images/migration/common/blank.gif'"
												id="recommand_thumbnail_1"
												src="https://shared-comic.pstatic.net/thumb/webtoon/727188/thumbnail/thumbnail_IMAG10_f01cc201-02c6-4a40-8c1a-e3db0c256876.jpg"
												width="30"
												height="33"
												alt="취사병 전설이 되다"
											/>
											<span class="mask"></span>
										</a>
									</div>
									<div class="rc_info">
										<a
											id="recommand_titleName_1"
											href="/webtoon/detail?titleId=727188&no=137"
											class="tit"
											title="취사병 전설이 되다"
											>취사병 전설이 되다</a
										>
										<em
											><a
												id="recommand_painter_1"
												href="#"
												onclick="return artistAction.viewArtist('727188', this);"
												title="제이로빈 / 이진수"
												>제이로빈 / 이진수</a
											></em
										>
										<span class="rankBox2">
											<img
												id="recommand_img_1"
												src="https://ssl.pstatic.net/static/comic/images/migration/common/arrow_no.gif"
												title="변동없음"
												alt="변동없음"
											/><em id="recommand_rank_1">0</em>
										</span>
									</div>
								</li>

								<li id="recommandLi_2" class="rank03">
									<div class="thumb6">
										<a
											id="recommand_link_2"
											href="/webtoon/detail?titleId=775723&no=22"
											title="스퍼맨 : 전하지 못한 이야기"
										>
											<img
												onerror="this.src='https://ssl.pstatic.net/static/comic/images/migration/common/blank.gif'"
												id="recommand_thumbnail_2"
												src="https://shared-comic.pstatic.net/thumb/webtoon/775723/thumbnail/thumbnail_IMAG10_6ffe58e6-e810-4542-a1ed-cdd590fd2459.jpg"
												width="30"
												height="33"
												alt="스퍼맨 : 전하지 못한 이야기"
											/>
											<span class="mask"></span>
										</a>
									</div>
									<div class="rc_info">
										<a
											id="recommand_titleName_2"
											href="/webtoon/detail?titleId=775723&no=22"
											class="tit"
											title="스퍼맨 : 전하지 못한 이야기"
											>스퍼맨 : 전하지 못한 이야기</a
										>
										<em
											><a
												id="recommand_painter_2"
												href="#"
												onclick="return artistAction.viewArtist('775723', this);"
												title="하일권"
												>하일권</a
											></em
										>
										<span class="rankBox2">
											<img
												id="recommand_img_2"
												src="https://ssl.pstatic.net/static/comic/images/migration/common/arrow_no.gif"
												title="변동없음"
												alt="변동없음"
											/><em id="recommand_rank_2">0</em>
										</span>
									</div>
								</li>

								<li id="recommandLi_3" class="rank04">
									<div class="thumb6">
										<a
											id="recommand_link_3"
											href="/webtoon/detail?titleId=773796&no=21"
											title="망나니 소교주로 환생했다"
										>
											<img
												onerror="this.src='https://ssl.pstatic.net/static/comic/images/migration/common/blank.gif'"
												id="recommand_thumbnail_3"
												src="https://shared-comic.pstatic.net/thumb/webtoon/773796/thumbnail/thumbnail_IMAG10_be3d1a5c-caea-4809-adff-953027b84999.jpg"
												width="30"
												height="33"
												alt="망나니 소교주로 환생했다"
											/>
											<span class="mask"></span>
										</a>
									</div>
									<div class="rc_info">
										<a
											id="recommand_titleName_3"
											href="/webtoon/detail?titleId=773796&no=21"
											class="tit"
											title="망나니 소교주로 환생했다"
											>망나니 소교주로 환생했다</a
										>
										<em
											><a
												id="recommand_painter_3"
												href="#"
												onclick="return artistAction.viewArtist('773796', this);"
												title="대은호,재무 / 전마두"
												>대은호,재무 / 전마두</a
											></em
										>
										<span class="rankBox2">
											<img
												id="recommand_img_3"
												src="https://ssl.pstatic.net/static/comic/images/migration/common/arrow_no.gif"
												title="변동없음"
												alt="변동없음"
											/><em id="recommand_rank_3">0</em>
										</span>
									</div>
								</li>

								<li id="recommandLi_4" class="rank05">
									<div class="thumb6">
										<a
											id="recommand_link_4"
											href="/webtoon/detail?titleId=783055&no=5"
											title="신림/남/22"
										>
											<img
												onerror="this.src='https://ssl.pstatic.net/static/comic/images/migration/common/blank.gif'"
												id="recommand_thumbnail_4"
												src="https://shared-comic.pstatic.net/thumb/webtoon/783055/thumbnail/thumbnail_IMAG10_f7dd1b57-3ac6-4bd7-86d6-a7d2fa26b8f6.jpg"
												width="30"
												height="33"
												alt="신림/남/22"
											/>
											<span class="mask"></span>
										</a>
									</div>
									<div class="rc_info">
										<a
											id="recommand_titleName_4"
											href="/webtoon/detail?titleId=783055&no=5"
											class="tit"
											title="신림/남/22"
											>신림/남/22</a
										>
										<em
											><a
												id="recommand_painter_4"
												href="#"
												onclick="return artistAction.viewArtist('783055', this);"
												title="박태준 만화회사"
												>박태준 만화회사</a
											></em
										>
										<span class="rankBox2">
											<img
												id="recommand_img_4"
												src="https://ssl.pstatic.net/static/comic/images/migration/common/arrow_no.gif"
												title="변동없음"
												alt="변동없음"
											/><em id="recommand_rank_4">0</em>
										</span>
									</div>
								</li>
							</ol>
						</div>
					</div>
					<script>
						new naver.comic.RecommandWebtoonRankLayer(
							5,
							'https://shared-comic.pstatic.net/thumb'
						);
					</script>
					<!-- //추천 웹툰 -->

					<!-- 공지사항 -->
					<div class="asideBox">
						<h4 class="asideBoxTitle">
							<img
								src="https://ssl.pstatic.net/static/comic/images/migration/common/subtlt_r_notice.gif"
								title="공지사항"
								alt="공지사항"
								width="43"
								height="12"
							/>
						</h4>

						<ul class="asideBoxNotice">
							<li>
								<a
									onclick="nclk_v2(event,'sna.not','522','1')"
									href="/notice/detail?noticeId=522"
									title="2021 지상최대공모전 웹툰부문 2기 수상작 발표"
								>
									<strong>
										2021 지상최대공모전 웹툰부문 2기 수상작 발표
									</strong>
								</a>
							</li>

							<li>
								<a
									onclick="nclk_v2(event,'sna.not','529','2')"
									href="/notice/detail?noticeId=529"
									title="2021 네이버웹툰 로맨스 공모전 수상작 발표"
								>
									<strong>
										2021 네이버웹툰 로맨스 공모전 수상작 발표
									</strong>
								</a>
							</li>

							<li>
								<a
									onclick="nclk_v2(event,'sna.not','495','3')"
									href="/notice/detail?noticeId=495"
									title="(new) 네이버웹툰 연재 작가를 모십니다! "
								>
									<strong>
										(new) 네이버웹툰 연재 작가를 모십니다
									</strong>
								</a>
							</li>

							<li>
								<a
									onclick="nclk_v2(event,'sna.not','503','4')"
									href="/notice/detail?noticeId=503"
									title="[공지] 요일별 연재작품 회차 업데이트 시간 안내"
								>
									요일별 연재작 회차업데이트 시간안내
								</a>
							</li>

							<li>
								<a
									onclick="nclk_v2(event,'sna.not','521','5')"
									href="/notice/detail?noticeId=521"
									title="[출시] 새로운 웹툰 라인업! <매일+>에서 만나보세요! "
								>
									<strong>
										[출시] 새로운 웹툰 라인업! &lt;매일+&gt;
									</strong>
								</a>
							</li>

							<li>
								<a
									onclick="nclk_v2(event,'sna.not','523','6')"
									href="/notice/detail?noticeId=523"
									title="<추천완결> 이용방법 변경 안내"
								>
									추천완결 이용방법 변경 안내
								</a>
							</li>

							<li>
								<a
									onclick="nclk_v2(event,'sna.not','526','7')"
									href="/notice/detail?noticeId=526"
									title="#내돈내툰, 우리가 웹툰을 즐기는 방법"
								>
									#내돈내툰, 우리가 웹툰을 즐기는 방법
								</a>
							</li>

							<li>
								<a
									onclick="nclk_v2(event,'sna.not','527','8')"
									href="/notice/detail?noticeId=527"
									title="2021년 12월 유료화 전환 작품 안내"
								>
									2021년 12월 유료화 전환 작품 안내
								</a>
							</li>
						</ul>

						<a
							onclick="nclk_v2(event,'sna.more')"
							href="/notice/list"
							class="asideBoxMore"
						>
							<span class="blind">공지사항</span> 더보기
						</a>
					</div>
					<!-- //공지사항 -->

					<div class="asideBanner">
						<a onclick="nclk_v2(event,'sna.proposal');" href="/business/proposalGuide">
							<img
								src="https://ssl.pstatic.net/static/comic/images/bnr_partnership.jpg"
								width="240"
								height="86"
								alt="웹툰, 웹소설 온라인 광고 판권 사업"
							/>
						</a>
					</div>

					<div class="asideBanner">
						<a
							onclick="nclk_v2(event,'sna.writerproposal');"
							href="https://joinus.comic.naver.com"
						>
							<img
								src="https://ssl.pstatic.net/static/comic/images/bnr_joinus.jpg"
								width="240"
								height="86"
								alt="연재 경력 작가 웹툰 차기작 제안"
							/>
						</a>
					</div>

					<div class="asideBanner">
						<a href="https://comic.naver.com/contest/greatest/webtoon">
							<img
								src="https://ssl.pstatic.net/static/comic/images/bnr_contest_2021.png"
								width="240"
								height="86"
								alt="2021 지상최대공모전 - 접수 및 안내"
							/>
						</a>
					</div>

					<div class="asideBanner">
						<a
							onclick="nclk_v2(event,'sna.recruit');"
							href="https://recruit.webtoonscorp.com"
						>
							<img
								src="https://ssl.pstatic.net/static/comic/images/bnr_careers.jpg"
								width="240"
								height="86"
								alt="웹툰 채용공고 CAREERS"
							/>
						</a>
					</div>

					<div class="asideButton">
						<a
							class="btn_faq"
							onclick="nclk_v2(event,'sna.faq')"
							href="https://help.naver.com/support/service/main.help?serviceNo=799"
							target="_blank"
							title="새 창"
						>
							<span class="blind">웹툰 고객센터</span>
						</a>
					</div>
				</div>
			</div>

			<!-- Footer -->

			<!-- FOOTER Start -->
			<div id="footer">
				<div class="naver_corp_info">
					<ul>
						<li>
							<a
								href="https://www.naver.com/rules/service.html"
								onClick="nclk_v2(event,'fot.agreement')"
								target="_blank"
								>이용약관</a
							>
						</li>
						<li>
							<a
								href="https://www.naver.com/rules/privacy.html"
								onclick="nclk_v2(event,'fot.privacy')"
								target="_blank"
								class="privacy"
								>개인정보처리방침</a
							>
						</li>
						<li>
							<a
								href="https://www.naver.com/rules/disclaimer.html"
								onclick="nclk_v2(event,'fot.disclaimer')"
								target="_blank"
								>책임의 한계와 법적고지</a
							>
						</li>
						<li>
							<a
								href="https://help.naver.com/support/home.help?serviceNo=799"
								onclick="nclk_v2(event,'fot.helpdesk')"
								target="_blank"
								title="새 창"
								>고객센터</a
							>
						</li>
						<li>
							<a
								href="/business/proposalGuide#ad"
								onClick="nclk_v2(event,'fot.proposal')"
								target="_blank"
								>웹툰 광고 문의</a
							>
						</li>
					</ul>
					<address>
						<a
							href="https://www.navercorp.com/"
							target="_blank"
							onclick="nclk_v2(event,'fot.navercorp')"
							><span class="naver_corp_link"
								><span class="blind">ⓒ NAVER CORP.</span></span
							></a
						>
					</address>
				</div>

				<div class="webtoon_corp_info">
					<ul>
						<li>
							<a
								href="https://member.webtoon.naver.com/policies/terms/"
								target="_blank"
								>이용약관</a
							>
						</li>
						<li>
							<a
								href="https://member.webtoon.naver.com/policies/privacy/"
								target="_blank"
								class="privacy"
								>개인정보처리방침</a
							>
						</li>
						<li>
							<a
								href="https://member.webtoon.naver.com/policies/youthpolicy/"
								target="_blank"
								>청소년보호정책</a
							>
						</li>
						<li>
							<a
								href="https://help.naver.com/support/service/main.help?serviceNo=799"
								target="_blank"
								>웹툰 고객센터</a
							>
						</li>
						<li>
							<a href="/business/proposalGuide" target="_blank">웹툰 사업 문의</a>
						</li>
					</ul>
					<address>
						<a
							onclick="nclk_v2(event,'fot.wtcorp');"
							href="https://webtoonscorp.com"
							class="webtoon_corp_link"
							target="_blank"
							><span class="blind">ⓒ NAVER WEBTOON Limited</span></a
						>
					</address>
				</div>

				<p class="copyright_law">
					본 콘텐츠의 저작권은 저자 또는 제공처에 있으며, 이를 무단 이용하는 경우 저작권법
					등에 따라 법적 책임을 질 수 있습니다.
				</p>
			</div>
			<!-- //FOOTER End -->
		</div>

		<script type="text/javascript">
			var agent = navigator.userAgent.toLowerCase();

			function loadEvent() {
				try {
					getGNB();
				} catch (ex) {}
				new naver.comic.RealtimeRankLayer();
				if ($('uploadLinkId')) {
					$Fn(function (oEvent) {
						oEvent.stop();
						if ('true' != 'true') {
							if (!confirm('로그인해야 이용할 수 있습니다. 로그인 하겠습니까?'))
								return false;
							else {
								location.href =
									'https://nid.naver.com/nidlogin.login?mode=form&url=' +
									encodeURIComponent(
										'https://' + location.host + '/upload/upload'
									);
								return;
							}
						}
						location.href = '/upload/upload';
						return true;
					}).attach($('uploadLinkId'), 'click');
				}
				naver.comic.oArtistAction = new naver.comic.Artist();
				artistAction = naver.comic.oArtistAction;
				naver.comic.oSearchBar = new naver.comic.SearchBarOptionActHandler();

				// GNB 이벤트 재정의.
				$Fn(function (oEvent) {
					var aWtChild = $Element('gnb').child(function (v) {
						return true;
					});
					var wtSrc = $Element(oEvent.element);
					var bContain = false;
					for (var i = 0; i < aWtChild.length; i++) {
						if (aWtChild[i].$value() == wtSrc.$value()) {
							bContain = true;
							break;
						}
					}
					if (!bContain && gnbAllLayerClose) {
						gnbAllLayerClose();
					}
				}).attach(document, 'click');
			}
			$Fn(loadEvent).attach(window, 'load');
		</script>

		<script
			type="text/javascript"
			src="/aggregate/javascript/release/lcslog_20211129181349.js"
		></script>

		<script type="text/javascript">
			try {
				var eventType = 'onpageshow' in window ? 'onpageshow' : 'onload';
				var oldEvent = window[eventType];
				window[eventType] = function () {
					if (oldEvent) {
						oldEvent();
					}
					lcs_do();
				};
			} catch (ex) {}
		</script>
	</body>
</html>