<form action="/create" method="post">
	구분(댓글): <input type="text" name="division1"><br>
	구분(웹툰): <input type="text" name="division2"><br>
	구분(보유): <input type="text" name="division3"><br>
	제목: <input type="text" name="title"><br>
	작가: <input type="text" name="writer"><br>
	쿠키: <input type="text" name="cookie"><br>
	<input type="submit" value="Submit">
</form>